.box1 {
    background-color: aqua;
    width: 800px;
    height: 400px;
}
.box1-1 {
    background-color: chartreuse;
    width: 400px;
    height: 200px;
}
.box2 {
    background-color: red;
    width: 400px;
    height: 200px;
}
.box2-1 {
    background-color: blue;
    width: 200px;
    height: 100px;
}